body#homepage {
    background: url("../../images/image_processing20211125-21609-wvuae.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #FCF5ED78;
    background-blend-mode: lighten;
}

#homepage form input[type="submit"] {
    margin-top: 72px;
    width: 156px;
    background-color: var(--primary-color);
    color: var(--broken-white);
    font-family: var(--font-serif);
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
}

#homepage form input {
    width: 100%;
    max-width: 500px;
}