.square-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 184px);
    justify-content: space-between;
    grid-gap: 32px;
}

.square-grid img {
    opacity: 0.6;
    transition: 0.2s;
}

.square-grid > div:first-child:hover img {
    opacity: 1;
}

.square {
    position: relative;
    width: 184px;
    height: 184px;
    background-color: var(--secondary-color-light);
    border-width: 1px;
    border-style: solid;
    border-color: var(--grey-0) var(--grey-3) var(--grey-3) var(--grey-0);
    cursor: pointer;
    transition: 0.2s;
}

.square:hover {
    background-color: var(--secondary-color-medium);
}

#categories-li {
    border-bottom: 1px solid var(--secondary-color-dark);
}

#categories a {
    color: unset;
    text-decoration: none;
}

.square .bi-pencil-square {
    position: absolute;
    left: 8px;
    bottom: 8px;
    z-index: 100;
    opacity: 0;
    transition: 0.1s;
}

.square .bi-trash3 {
    position: absolute;
    right: 8px;
    bottom: 8px;
    z-index: 100;
    opacity: 0;
    transition: 0.1s;
}

.square:hover .bi-pencil-square,
.square:hover .bi-trash3 {
    opacity: 0.8;
}

.bi-pencil-square:hover,
.bi-trash3:hover {
    opacity: 1;
}


