:root {
    --primary-color-dark: #262221;
    --primary-color-medium: #33302F;
    --primary-color-light: #3D3A3A;
    --secondary-color-dark: #D9B589;
    --secondary-color-medium: #EFCA9C;
    --secondary-color-light: #FFDCB1;
    --accent-color-dark: #7A2D1C;
    --accent-color-medium: #994331;
    --accent-color-light: #BB553E;
    --broken-white: #FCF5ED;
    --font-serif: 'Lora', serif;
    --font-sans-serif: 'Open Sans', sans-serif;
    --header-height: 64px;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-sans-serif);
    font-size: 1.4rem;
}

html {
    height: 100%;
    font-size: 65%;
}

body {
    color: var(--primary-color-dark);
    background-color: var(--secondary-color-dark);
}

h1 {
    font-family: var(--font-serif);
    font-size: 4rem;
    color: var(--primary-color-dark);
    text-shadow: 1px 0px 0px rgba(252, 245, 237, 0.3);
}

.bg-beige {
    background: var(--broken-white);
}

.button {
    margin-top: 72px;
    min-width: 156px;
    width: fit-content;
    padding-left: 16px;
    padding-right: 16px;
    background-color: var(--primary-color-dark);
    color: var(--broken-white);
    font-family: var(--font-serif);
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    border: 0;
    height: 36px;
}

.button:hover {
    background-color: var(--accent-color-dark);
    transition: 0.3s;
}

.underline-none {
    text-decoration: none;
}

/* Forms */
input {
    height: 32px;
    box-sizing: border-box;
    background-color: var(--broken-white);
    border-width: 1px;
    border-style: solid;
    border-color: var(--primary-color-dark);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
    padding: 0 8px;
}